
*{
    margin: 0px;
    padding: 0px;
}
.nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: white;
}
.logo {
    width: 20%;
}
.text {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.user{
width: 30%;
display: flex;

}
.user>h2 {
    margin-left: 20px;
}
body {
    background-color: ghostwhite;}

    p{
        text-align: center;
    }


    #form {
      width: 400px;
      height: 500px;
      margin-top: 200px;
      padding: 20px;
      margin: 8%;
      box-shadow: rgba(68, 68, 99, 0.2) 0px 7px 29px 0px;
      display: grid;
      justify-content: center;
      font-size: 20px;
      margin-left: 500px;
      justify-content: space-between;
    
    }
    h6 {
        font-size: 20px;
        justify-content: space-between;
    }
   #username {
       padding: 10px;
       margin-top: 1px;
       margin-bottom: 10px;
       width: 350px;
       border-radius: 10px;
       border: 1px solid grey;
       border-color: grey;
   } 
   #email {
       padding: 10px;
       margin-top: 1px;
       margin-bottom: 10px;
       border-radius: 10px;
       border: 1px solid grey;
       border-color: grey;
   }
   #password{
       padding: 10px;
       margin-top: 5px;
       margin-bottom: 10px;
       border-radius: 10px;
       border: 1px solid grey;
       border-color: grey;
   }
   #btn {
       padding: 10px;   
       margin-top: 5px;
       margin-bottom: 10px;
       border-radius: 10px;
       border: 1px solid grey;
       color: white;
       background-color: rgb(55, 55, 213);
   }